@charset "utf-8";
/* CSS Document */
                 /*start--backgroung--image*/
.bgimg
{
	background-image:url('../Images/Background.jpg');
	background-size: 100%,100%;
	background-attachment:fixed;
	width:100%;
	height:790px;
}

                 /*end--backgroung--image*/

                /*start--hearder--heading*/
.hearderset
{
	padding-top:300px;
	box-sizing:border-box;
}

.hearderset h2
{
	font-size:40px;
}

.hearderset h1
{
	font-size:60px;
	font-weight:bold;
	
}
                 /*end--hearder--heading*/

                   /*start--products*/

.products
{
	height:1900px;
	width:100%;
	padding:100px 0px 50px;
}

.products h1
{
	font-size:50px;
	font-weight:bold;
}

.products img
{
	transition: transform .2s;
}
.products img:hover
{
	-ms-transform: scale(0.9);
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
}
                      /*end--products*/
	
	                  /*start--card*/
.card
{
	margin-top:50px;
}
                     /*end--card*/
					/*start--footer*/



					 
					 
					 
					 
/*Responsive*/

@media(mim-width: 992px)
{
}

@media(mim-width: 768px) and (max-width: 991px)
{
}

@media(mim-width: 575px) and (max-width: 767px)
{
}

@media(mim-width: 480px) and (max-width: 574px)
{

}
@media(max-width: 579px)
{

.hearderset h2
{
	font-size:25px;
}

.hearderset h1
{
	font-size:40px;
	font-weight:bold;
}
.products
{
	height:7500px;
}

}


